{% load i18n static%}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Decide-Dialga</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul id="login" class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {% if not user.is_authenticated %}
          <i class="fas fa-user"></i> Login
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default">
          <a class="dropdown-item" href="{% url 'account_login'%}">{% trans "Sign In" %}</a>
          <a class="dropdown-item" href="{% url 'account_signup'%}">{% trans "Sign Up" %}</a>
        </div>
        {% else %}
        <i class="fas fa-user"></i> {{ user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default">
          <a class="dropdown-item" href="{% url 'account_logout'%}">{% trans "Logout" %}</a>
          <a class="dropdown-item" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
          <a class="dropdown-item" href="{% url 'account_email'%}">{% trans "Change E-mail" %}</a>
        </div>
        {% endif %}
      </li>
    </ul>
  </div>
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
</nav>