{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
            <button type="button" class="btn btn-dark" onclick="activateDarkMode()">Modo oscuro</button>
            <button type="button" class="btn btn-light" onclick="activateLightMode()">Modo claro</button>
        </b-navbar>

        <div id="divId1" class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>
                <table id="tableVoting" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td>[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <canvas id="canvas" width="250" height="100"></canvas>
    </div>
{% endblock %}

{% block extrabody %}

    <!-- ChartJS -->
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        });

        //console.log(voting);

        let question = voting.name;
        let labels = [];
        let datas = [];
        let postproc = voting.postproc;
        let colors = [];

        for (let i = 0; i < postproc.length; i++) {
            let red = Math.floor(Math.random() * 256);
            let green = Math.floor(Math.random() * 256);
            let blue = Math.floor(Math.random() * 256);
            let rgb = "rgb(" + red + "," + green + "," + blue +")";
            labels.push(postproc[i].option);
            datas.push(postproc[i].votes);
            colors.push(rgb);
        }



        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        new Chart(context, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: "",
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });
    </script>

    <script>
        function setCookie(cookieName, cookieValue, expiresDays) {
            var today = new Date();
            today.setTime(today.getTime() + (expiresDays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + today.toGMTString();
            document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
        }

        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookies = decodedCookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var c = cookies[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            var activatedTheme = getCookie("theme");

            if (activatedTheme == "dark") {
                activateDarkMode();
            }
        }

        function activateDarkMode() {
            document.body.style.background = "#060d14";
            document.getElementById("divId1").style.color = "#ffffff";
            document.getElementById("tableVoting").style.color = "#ffffff";
            setCookie("theme", "dark", 365);
        }

        function activateLightMode() {
            document.body.style.background = "#ffffff";
            document.getElementById("divId1").style.color = "#212529";
            document.getElementById("tableVoting").style.color = "#212529";
            setCookie("theme", "light", 365);
        }
    </script>
</body>
{% endblock %}
