{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <script src="../../static/Chart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
      <!-- Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://kit.fontawesome.com/c3222e2033.js" crossorigin="anonymous"></script>
      <style>
         .v-aling {
         display: inline-flex;
         vertical-align: middle;
         }
         .fa, .fas {
         line-height: 1.5 !important;
         margin-right: 5px;
         }
         .pointer {
         cursor: pointer !important;
         }
         .card-shadow-1 {
         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         }
         .card-shadow-2 {
         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
         border: none !important;
         }
         .card-shadow-3{ box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
         }
         .bg-dark-mode{
            background-color: #000000;
         }
         .notification{
            position:fixed;
            z-index: 999;
            top: 1rem;
            right: 1rem;
         }
      </style>
{% endblock %}

{% block content %}
    <div id="app-visualizer">
      <div v-if="!voting.start_date" class="col-sm alert alert-info card-shadow-2 mt-4 w-75" role="alert" style="margin:0 auto;">
         <h4 class="alert-heading"><i class="fas fa-calendar-plus"></i> Votación no comenzada</h4>
         <p>La votación actualmente no ha comenzado, visite de nuevo esta página para realizar la votación cuando haya comenzado.</p>
         <hr>
         <p class="mb-0">[[ voting.name ]] #[[ voting.id ]]</p>
       </div>
      <div v-else-if="!voting.end_date" class="col-sm alert alert-info card-shadow-2 mt-4 w-75" role="alert" style="margin:0 auto;">
         <h4 class="alert-heading"><i class="fas fa-cog fa-spin"></i> Votación en curso</h4>
         <p>La votación actualmente sigue en curso, los datos estarán disponibles una vez finalice.</p>
         <hr>
         <p class="mb-0">[[ voting.name ]] #[[ voting.id ]] - Comienzo: [[ voting.start_date ]]</p>
       </div>

    <div v-else>
    <main role="main">
        <div class="container mt-4">
           <div id="topCard" class="card card-shadow-2 bg-white">
              <div class="card-body text-center">
                 <ul class="nav">
                    <li class="nav-item d-flex justify-content-start mb-2 mr-2">
                        <div class="text-info mr-1 pointer" data-container="body" data-toggle="popover" data-placement="bottom" 
                             data-content="Si posee una discapacidad de la visión de los colores utilice los ajustes 
                        ofrecidos para que obtenga una correcta visualización de los gráficos. 
                                           Si no conoce que tipo de Discromatopsia padece, pruebe los distintos ajustes hasta comprobar que distingue
                        todos los colores."><i class="far fa-lg fa-question-circle" style="line-height:1.5"></i></div>
                       <div class="dropdown">
                          <a id="daltonicButton" class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" 
                             id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Simular espacio de color
                          </a>
                          <div id="dropDownColors" class="dropdown-menu card-shadow-3" aria-labelledby="dropdownMenuLink">
                             <a id="dropDownColors2" class="dropdown-item pointer" onclick="monocromatico()">Monocromático</a>
                             <a id="dropDownColors3" class="dropdown-item pointer" onclick="deuteranomalia()">Deuteranomalía (rojo-verde)</a>
                             <a id="dropDownColors4" class="dropdown-item pointer" onclick="protanomalia()">Protanomalía (rojo-verde)</a>
                             <a id="dropDownColors5" class="dropdown-item pointer" onclick="tritranomalia()">Tritanomalía (azul-amarillo)</a>
                          </div>
                       </div> 
                    </li>
                    <li class="nav-item mb-2">
                       <div class="dropdown">

                          <a id="darkModeButton" class="btn btn-sm btn-dark dropdown-toggle ml-2" href="#" role="button" 
                             id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Modo oscuro
                          </a>
                          <div id="dropDownDarkMode" class="dropdown-menu card-shadow-3" aria-labelledby="dropdownMenuLink">
                           <a id="activeDarkModeButton" class="dropdown-item" href="#" onclick="alertDarkMode('dark'); activateDarkMode()">Activado</a>
                           <a id="activeLightModeButton" class="dropdown-item active" href="#" onclick="alertDarkMode('light'); activateLightMode()">Desactivado</a>
                          </div>
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
           <div class="row">
              <div class="col-sm">
                 <div id="optionsNumberCard" class="card card-shadow-2 bg-white mt-4">
                    <div class="card-body">
                       <h6 class="card-title text-muted" >Nº DE OPCIONES</h6>
                       <h3 class="card-text text-center mb-3">[[ voting.postproc.length ]]</h3>
                    </div>
                 </div>
              </div>
              <div class="col-sm">
                 <div id="votesNumberCard" class="card card-shadow-2 bg-white mt-4">
                    <div class="card-body">
                       <h6 class="card-title text-muted">Nº DE VOTOS</h6>
                       <h3 id="total_votes" class="card-text text-center mb-3">0</h3>
                    </div>
                 </div>
              </div>
              <div class="col-sm">
               <div id="beginCard" class="card card-shadow-2 bg-white mt-4">
                  <div class="card-body">
                   <h6 class="card-title text-muted">COMIENZO</h6>
                   <h3 id="start_date" class="card-text text-center mb-3">DD/MM/YYYY</h3>
                  </div>
               </div>
            </div>
              <div class="col-sm">
                 <div id="finishCard" class="card card-shadow-2 bg-white mt-4">
                    <div class="card-body">
                       <h6 class="card-title text-muted">FINALIZACIÓN</h6>
                       <h3 id="end_date" class="card-text text-center mb-3">DD/MM/YYYY</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm">
                 <div class="accordion" id="graphics">
                    <!-- congreso -->
                    <div id="congressCard" class="card card-shadow-2 bg-white mt-4">
                       <a data-toggle="collapse" data-target="#congreso" aria-expanded="true" aria-controls="congreso" class="pointer">
                          <h5 class="card-header text-muted" id="headingCongreso"><i class="fas fa-chart-pie"></i> Congreso</h5>
                       </a>
                       <div id="congreso" class="collapse show" aria-labelledby="headingCongreso" data-parent="#graphics">
                          <div class="card-body">
                             <h5 class="card-title">Gráfica de votos del Congreso</h5>
                             <p class="card-text">
                                 <canvas id="canvas" width="250" height="100"></canvas>
                             </p>
                             <div class="row">
                              <div class="col-sm">
                             <div class="btn-group" role="group" aria-label="senado-actions">
                                <button type="button" class="btn btn-secondary v-aling" data-toggle="modal" data-target="#exportModal">
                                <i class="fas fa-file-export"></i> <span>Exportar</span>
                                </button>
                                <button type="button" class="btn btn-secondary v-aling" data-toggle="modal" data-target="#shareModal">
                                <i class="fas fa-share-alt"></i> <span>Compartir</span>
                                </button>
                             </div>
                            </div>
                            <div class="col-sm">
                             <form class="form-inline">
                             <label class="mr-sm-2 ml-sm-2 text-dark" for="changeGraph">Tipo de gráfica</label>
                                     <select class="custom-select mr-sm-2 bg-white text-dark" id="changeGraph" onchange="changeTypeChartJsGraph();">
                                         <option value="pie" selected>Circular (tarta)</option>
                                         <option value="bar">Diagrama de barras verticales</option>
                                         <option value="polarArea">Area polar</option>
                                         <option value="doughnut">Rosquilla</option>
                                         <option value="horizontalBar">Diagrama de barras horizontales</option>
                                     </select>
                                     </form>
                                     </div>
                            </div>
                          </div>
                       </div>
                    </div>
                    <!-- TO DO: senado 
                    <div class="card card-shadow-2 bg-white">
                       <a data-toggle="collapse" data-target="#senado" aria-expanded="true" aria-controls="senado" class="pointer">
                          <h5 class="card-header text-muted" id="headingSenado"><i class="fas fa-chart-pie"></i> Senado</h5>
                       </a>
                       <div id="senado" class="collapse" aria-labelledby="headingSenado" data-parent="#graphics">
                          <div class="card-body">
                             <h5 class="card-title">Gráfica de votos del Senado</h5>
                             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                             <div class="btn-group" role="group" aria-label="senado-actions">
                                <button type="button" class="btn btn-secondary v-aling"  data-toggle="modal" data-target="#exportModal">
                                <i class="fas fa-file-export"></i> <span>Exportar</span>
                                </button>
                                <button type="button" class="btn btn-secondary v-aling"  data-toggle="modal" data-target="#shareModal">
                                <i class="fas fa-share-alt"></i> <span>Compartir</span>
                                </button>
                             </div>
                          </div>
                       </div>
                    </div> -->
                 </div>
              </div>
           </div>
        </div>
        <!-- Export Modal -->
        <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="export" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div id="exportDiv" class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="material-icons mr-1">import_export</i> Exportar</h5>
                    <button id="closeExport" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <button id="buttonPDF" type="button" class="btn btn-outline-primary btn-block" onclick="printPDF()">
                    <i class="fas fa-file-pdf"></i> PDF</button> 

                    <button id="buttonCSV" type="button" class="btn btn-outline-success btn-block" onclick="exportTableToCSV('data.csv')">
                    <i class="fas fa-file-csv"></i> CSV</button>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 </div>
              </div>
           </div>
        </div>
        <!-- Share Modal -->
        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="share" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div id="shareDiv" class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="material-icons mr-1">share</i> Compartir</h5>
                    <button id="closeShare" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                  <div class="container">
                     <div class="row">
                       <div class="col-sm-3">
                        <button id="facebook-share" type="button" class="btn btn-link">
                        <i class="fab fa-facebook-f"></i> Facebook</button>
                       
                        <button id="linkedin-share" type="button" class="btn btn-link">
                        <i class="fab fa-linkedin-in"></i> Linkedin</button>
                     </div>
                     <div class="col-sm-3">
                        <button id="twitter-share" type="button" class="btn btn-link">
                        <i class="fab fa-twitter"></i> Twitter</button>
                        <button id="reddit-share" type="button" class="btn btn-link">
                           <i class="fab fa-reddit"></i> Reddit</button>
                     </div>
                     <div class="col-sm-3">
                        <button id="email-share" type="button" class="btn btn-link">
                        <i class="fas fa-envelope"></i> Email</button>

                        <button id="slack-share" type="button" class="btn btn-link">
                        <i class="fab fa-slack-hash"></i> &nbsp;&nbsp;Slack</button>
                     </div>
                     <div class="col-sm-3">
                        <button id="telegram-share" type="button" class="btn btn-link">
                           <i class="fab fa-telegram"></i> Telegram</button>
   
                        <button id="whatsapp-share" type="button" class="btn btn-link">
                        <i class="fab fa-whatsapp"></i> Whatsapp</button>
                     </div>
                  </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 </div>
              </div>
           </div>
        </div>
     </main>
     </div>
     <footer class="mt-5 mb-3">
        <div class="container">
           <div id="footerVis" class="card card-shadow-2 bg-white">
              <div class="card-body text-center">Visualización de datos de la plataforma de votación digital 
                <a href="https://github.com/decide-dialga/decide/">Decide-Dialga</a>, por el grupo <a href="https://github.com/orgs/decide-dialga/teams/decide-dialga-visualizer">Dialga-Visualizer</a>.</div>
           </div>
        </div>
     </footer>
    </div>
{% endblock %}

{% block extrabody %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- ChartJS -->
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script>
        document.getElementsByTagName("body")[0].className = "bg-light";

        Date.prototype.getFullMinutes = function () {
        if (this.getMinutes() < 10) {
            return '0' + this.getMinutes();
        }
        return this.getMinutes();
        };
        
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        //ChartJS
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        });

        let postproc = voting.postproc;
        let postproc_length = 0;
        if(postproc_length !== undefined) {
            postproc_length = postproc.length
        }

        function getTotalVotes(){
           var res = 0;
           for (var i = 0; i < postproc_length; i++) {
              res += voting.postproc[i]["votes"]
           }
           return res;
        }

        voting.end_date = new Date(voting.end_date);
        voting.start_date = new Date(voting.start_date);
        document.getElementById("start_date").innerText = voting.start_date.getHours()+":"+voting.start_date.getFullMinutes()+" "+voting.start_date.getDate()+"/"
          +(voting.start_date.getMonth()+1)+"/"+voting.start_date.getFullYear();
        document.getElementById("end_date").innerText = voting.end_date.getHours()+":"+voting.end_date.getFullMinutes()+" "+voting.end_date.getDate()+"/"
          +(voting.end_date.getMonth()+1)+"/"+voting.end_date.getFullYear();
        document.getElementById("total_votes").innerText = getTotalVotes();

        var colores = ["rgb(75,192,43)", "rgb(255,37,255)" , "rgb(223,107,171)" , "rgb(84,225,35)"]

        var partidos = ["rgb(142,68,173)","rgb(192,57,43)","rgb(41,128,185)"]

        var PodemosPartido = ["rgb(90,43,110)","rgb(204,97,250)","rgb(142,68,173)","rgb(152,73,186)","rgb(121,58,148)","rgb(60,29,74)", "rgb(208,99,255)"]

        var PPPartido = ["rgb(41,128,186)","rgb(27,84,122)","rgb(21,65,94)","rgb(44,137,199)","rgb(30,95,138)","rgb(56,175,255)", "rgb(20,63,92)"]

        var PSOEPartido = ["rgb(128,38,28)","rgb(99,30,22)","rgb(191,57,42)","rgb(204,61,45)","rgb(166,49,36)","rgb(255,76,56)","rgb(255,76,56)"]
       
        let question = voting.name;
        let labels = ["PP", "PSOE", "Podemos", "Otros"];
        let ppVotes = 0;
        let psoeVotes = 0;
        let podemosVotes = 0;
        let otrosVotes = 0;
        let colors = [];
        let podemosindice = 0; 
        let ppindice = 0;
        let psoeindice = 0;
        for (let i = 0; i < postproc_length; i++) {
            let red = Math.floor(Math.random() * 256);
            let green = Math.floor(Math.random() * 256);
            let blue = Math.floor(Math.random() * 256);
            let rgb = "rgb(" + red + "," + green + "," + blue +")";
          
            if(postproc[i].option.toUpperCase().startsWith('PODEMOS')){
            colors.push(PodemosPartido[podemosindice]);
            podemosindice++;
            podemosVotes+=postproc[i].votes;
            }else if(postproc[i].option.toUpperCase().startsWith('PP')){
                colors.push(PPPartido[ppindice]);
                ppindice++;
                ppVotes+=postproc[i].votes;
            }else if(postproc[i].option.toUpperCase().startsWith('PSOE')){
                colors.push(PSOEPartido[psoeindice]);
                psoeindice++;
                psoeVotes+=postproc[i].votes;
            }else{
                otrosVotes+=postproc[i].votes;
            }
        }

        let datas = [ppVotes, psoeVotes, podemosVotes, otrosVotes];
        let newLabels = []
        for (let i = 0; i < labels.length; i++) {
            let concateichon = labels[i] + ": " + datas[i] + " votos";
            console.log(concateichon)
            newLabels.push(concateichon);
        }

        colors.splice(-1, 1);
        colors.push("#c1c1c1");


        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        let graphType = 'pie';

        let graph = new Chart(context, {
            type: graphType,
            data: {
                labels: newLabels,
                datasets: [{
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });

        //Function to change the type of the chartjs graph
        function changeTypeChartJsGraph() {
            let option = document.getElementById("changeGraph");
            graphType = option.value;
            graph.destroy();

            if(graphType === 'horizontalBar') {
                graph = new Chart(context, {
                    type: graphType,
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "",
                            backgroundColor: colors,
                            data: datas
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                            xAxes: [{
                                display: true,
                                ticks: {
                                    min: 0,
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: question
                        }
                    }
                });
            } else {
                if(graphType !== 'pie' && graphType !== 'doughnut' && graphType !== 'polarArea') {
                    graph = new Chart(context, {
                        type: graphType,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "",
                                backgroundColor: colors,
                                data: datas
                            }]
                        },
                        options: {
                            legend: {display: false},
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        min: 0,
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: question
                            }
                        }
                    });
                } else {
                    graph = new Chart(context, {
                        type: graphType,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "",
                                backgroundColor: colors,
                                data: datas
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: question
                            }
                        }
                    });
                }
            }

        }
    </script>
    <script>
        function setCookie(cookieName, cookieValue, expiresDays) {
            var today = new Date();
            today.setTime(today.getTime() + (expiresDays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + today.toGMTString();
            document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
         }

         function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookies = decodedCookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
               var c = cookies[i];
               while (c.charAt(0) == ' ') {
                  c = c.substring(1);
               }
               if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
               }
            }
            return "";
         }

         function checkCookie() {
            var activatedTheme = getCookie("theme");

            if (activatedTheme == "dark") {
               activateDarkMode();
            }
         }

         function activateDarkMode() {
            changeSelectorDarkMode("dark");
            document.body.className = "bg-dark-mode";
            document.getElementById("topCard").className = "card card-shadow-2 bg-dark";
            document.getElementById("optionsNumberCard").className = "card card-shadow-2 bg-dark text-white mt-4";
            document.getElementById("votesNumberCard").className = "card card-shadow-2 bg-dark text-white mt-4";
            document.getElementById("beginCard").className = "card card-shadow-2 bg-dark text-white mt-4";
            document.getElementById("finishCard").className = "card card-shadow-2 bg-dark text-white mt-4";
            document.getElementById("congressCard").className = "card card-shadow-2 mt-4 text-white bg-dark";
            document.getElementById("footerVis").className = "card card-shadow-2 text-white bg-dark";
            document.getElementById("daltonicButton").className = "btn btn-sm btn-outline-light dropdown-toggle";
            document.getElementById("darkModeButton").className = "btn btn-sm btn-outline-info dropdown-toggle ml-2";
            document.getElementById("exportDiv").className = "modal-content text-white bg-dark";
            document.getElementById("buttonPDF").className = "btn btn-primary btn-block";
            document.getElementById("buttonCSV").className = "btn btn-success btn-block";
            document.getElementById("shareDiv").className = "modal-content text-white bg-dark";
            document.getElementById("dropDownColors").className = "dropdown-menu card-shadow-3 bg-dark";
            document.getElementById("dropDownColors1").className + "dropdown-item activate text-white";
            document.getElementById("dropDownColors2").className = "dropdown-item text-white";
            document.getElementById("dropDownColors3").className = "dropdown-item text-white";
            document.getElementById("dropDownColors4").className = "dropdown-item text-white";
            document.getElementById("dropDownColors5").className = "dropdown-item text-white";
            document.getElementById("closeExport").className = "close text-white";
            document.getElementById("closeShare").className = "close text-white";
            setCookie("theme", "dark", 365);
         }

         function activateLightMode() {
            changeSelectorDarkMode("light");
            document.body.className = "bg-light";
            document.getElementById("topCard").className = "card card-shadow-2 bg-white";
            document.getElementById("optionsNumberCard").className = "card card-shadow-2 bg-white mt-4";
            document.getElementById("votesNumberCard").className = "card card-shadow-2 bg-white mt-4";
            document.getElementById("beginCard").className = "card card-shadow-2 bg-white mt-4";
            document.getElementById("finishCard").className = "card card-shadow-2 bg-white mt-4";
            document.getElementById("congressCard").className = "card card-shadow-2 bg-white mt-4";
            document.getElementById("footerVis").className = "card card-shadow-2 bg-white";
            document.getElementById("daltonicButton").className = "btn btn-sm btn-outline-secondary dropdown-toggle";
            document.getElementById("darkModeButton").className = "btn btn-sm btn-dark dropdown-toggle ml-2";
            document.getElementById("exportDiv").className = "modal-content";
            document.getElementById("buttonPDF").className = "btn btn-outline-primary btn-block";
            document.getElementById("buttonCSV").className = "btn btn-outline-success btn-block";
            document.getElementById("shareDiv").className = "modal-content";
            document.getElementById("dropDownColors").className = "dropdown-menu card-shadow-3";
            document.getElementById("dropDownColors1").className + "dropdown-item activate";
            document.getElementById("dropDownColors2").className = "dropdown-item";
            document.getElementById("dropDownColors3").className = "dropdown-item";
            document.getElementById("dropDownColors4").className = "dropdown-item";
            document.getElementById("dropDownColors5").className = "dropdown-item";
            document.getElementById("closeExport").className = "close";
            document.getElementById("closeShare").className = "close";
            setCookie("theme", "light", 365);
         }

         function changeSelectorDarkMode(mode) {
            if (mode == "dark") {
               document.getElementById("activeDarkModeButton").className = "dropdown-item texte-white active";
               document.getElementById("activeLightModeButton").className = "dropdown-item text-white";
               document.getElementById("dropDownDarkMode").className = "dropdown-menu card-shadow-3 bg-dark";
            } else {
               document.getElementById("activeDarkModeButton").className = "dropdown-item";
               document.getElementById("activeLightModeButton").className = "dropdown-item active";
               document.getElementById("dropDownDarkMode").className = "dropdown-menu card-shadow-3 dropdown";
            }
         }

         function alertDarkMode(mode) {
            if (mode=="dark" && document.body.className == "bg-light") {
               if (document.contains(document.getElementById("alertDarkModeDes"))) {
                  document.getElementById("alertDarkModeDes").remove();  
               }
               if (document.contains(document.getElementById("alertDarkMode"))) {
                  document.getElementById("alertDarkMode").remove();  
               }
               var alertDiv = document.createElement("div");
               alertDiv.setAttribute("id","alertDarkMode");
		         alertDiv.setAttribute("class","alert alert-success alert-dimissible fade show card-shadow-3 w-50 notification");
		         alertDiv.setAttribute("role","alert");
		         alertDiv.innerHTML = "Modo oscuro <b>activado</b>";
               var buttonClose = document.createElement("button");
               buttonClose.setAttribute("type", "button");
               buttonClose.setAttribute("class", "close");
               buttonClose.setAttribute("data-dismiss", "alert");
               buttonClose.setAttribute("aria-label", "Close");
               var span = document.createElement("span");
               span.setAttribute("aria-hidden", "true");
               span.innerHTML = "&times;";
               buttonClose.appendChild(span);
               alertDiv.appendChild(buttonClose);
               document.body.appendChild(alertDiv);
               setTimeout("deleteAlert('dark')", 8000);
            } else if (mode=="light" && document.body.className == "bg-dark-mode") {
               if (document.contains(document.getElementById("alertDarkModeDes"))) {
                  document.getElementById("alertDarkModeDes").remove();  
               }
               if (document.contains(document.getElementById("alertDarkMode"))) {
                  document.getElementById("alertDarkMode").remove();  
               }
               var alertDiv = document.createElement("div");
               alertDiv.setAttribute("id","alertDarkModeDes");
		         alertDiv.setAttribute("class","alert alert-secondary alert-dimissible fade show card-shadow-3 w-50 notification");
		         alertDiv.setAttribute("role","alert");
		         alertDiv.innerHTML = "Modo oscuro <b>desactivado</b>";
               var buttonClose = document.createElement("button");
               buttonClose.setAttribute("type", "button");
               buttonClose.setAttribute("class", "close");
               buttonClose.setAttribute("data-dismiss", "alert");
               buttonClose.setAttribute("aria-label", "Close");
               var span = document.createElement("span");
               span.setAttribute("aria-hidden", "true");
               span.innerHTML = "&times;";
               buttonClose.appendChild(span);
               alertDiv.appendChild(buttonClose);
               document.body.appendChild(alertDiv);
               setTimeout("deleteAlert('light')", 8000);
            }
         }

         function deleteAlert(mode) {
               if (mode == "dark" && document.contains(document.getElementById("alertDarkMode"))) {
                  document.getElementById("alertDarkMode").remove();
               } else if (document.contains(document.getElementById("alertDarkModeDes"))) {
                  document.getElementById("alertDarkModeDes").remove();
               }
         }

        window.onload = checkCookie();
    </script>
      
    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
      
<script>
    function monocromatico(){
        var coloresmonocromaticos = ["rgb(56,56,56)",
    "rgb(101,101,101)",
    "rgb(146,146,146)",
    "rgb(188,188,188)",
    "rgb(65,65,65)",
    "rgb(110,110,110)",
    "rgb(153,153,153)",
    "rgb(197,197,197)",
    "rgb(74,74,74)",
    "rgb(119,119,119)",
    "rgb(162,162,162)",
    "rgb(206,206,206)",
    "rgb(83,83,83)",
    "rgb(128,128,128)",
    "rgb(171,171,171)",
    "rgb(215,215,215)",
    "rgb(92,92,92)",
    "rgb(137,137,137)",
    "rgb(180,180,180)",
    "rgb(224,224,224)"
]

        let labels = [];
        let datas = [];
        let colorsNew = [];
        for (let i = 0; i < postproc_length; i++) {
            labels.push(postproc[i].option);
            datas.push(postproc[i].votes);
            colorsNew.push(coloresmonocromaticos[i]);
        }
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        let graphType = 'pie';

        let graph = new Chart(context, {
            type: graphType,
            data: {
                labels: labels,
                datasets: [{
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });
        colors=colorsNew;
    }

    function deuteranomalia(){

        var PodemosPartido = ["rgb(77,86,86)","rgb(95,106,106)","rgb(113,125,126)","rgb(131,145,146)","rgb(149,165,166)","rgb(98,101,103)", "rgb(121,125,127)"]

        var PPPartido = ["rgb(41,128,186)","rgb(27,84,122)","rgb(21,65,94)","rgb(44,137,199)","rgb(30,95,138)","rgb(56,175,255)", "rgb(20,63,92)"]

        var PSOEPartido = ["rgb(255,126,12)","rgb(255,167,89)","rgb(204,101,10)","rgb(224,111,11)","rgb(166,49,36)","rgb(176,87,9)","rgb(181,89,9)"]

        let labels = [];
        let datas = [];
        let colorsNew = [];
        let podemosindice = 0; 
        let ppindice = 0;
        let psoeindice = 0;
        for (let i = 0; i < postproc_length; i++) {
            let red = Math.floor(Math.random() * 256);
            let green = Math.floor(Math.random() * 256);
            let blue = Math.floor(Math.random() * 256);
            let rgb = "rgb(" + red + "," + green + "," + blue +")";
            labels.push(postproc[i].option);
            datas.push(postproc[i].votes);
            if(postproc[i].option.toUpperCase().startsWith('PODEMOS')){
                colorsNew.push(PodemosPartido[podemosindice]);
            podemosindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PP')){
                colorsNew.push(PPPartido[ppindice]);
                ppindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PSOE')){
                colorsNew.push(PSOEPartido[psoeindice]);
                psoeindice++;
            }else{
                colors.push(rgb);
            }
        }


        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        let graphType = 'pie';

        let graph = new Chart(context, {
            type: graphType,
            data: {
                labels: labels,
                datasets: [{
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });
        colors=colorsNew;
        }

        function protanomalia(){

        var PodemosPartido = ["rgb(77,86,86)","rgb(95,106,106)","rgb(113,125,126)","rgb(131,145,146)","rgb(149,165,166)","rgb(98,101,103)", "rgb(121,125,127)"]

        var PPPartido = ["rgb(41,128,186)","rgb(27,84,122)","rgb(21,65,94)","rgb(44,137,199)","rgb(30,95,138)","rgb(56,175,255)", "rgb(20,63,92)"]

        var PSOEPartido = ["rgb(241,196,15)","rgb(163,133,10)","rgb(244,213,88)","rgb(115,100,41)","rgb(168,137,10)","rgb(255,207,15)","rgb(196,159,12)"]

        let labels = [];
        let datas = [];
        let colorsNew = [];
        let podemosindice = 0; 
        let ppindice = 0;
        let psoeindice = 0;
        for (let i = 0; i < postproc_length; i++) {
            let red = Math.floor(Math.random() * 256);
            let green = Math.floor(Math.random() * 256);
            let blue = Math.floor(Math.random() * 256);
            let rgb = "rgb(" + red + "," + green + "," + blue +")";
            labels.push(postproc[i].option);
            datas.push(postproc[i].votes);
            if(postproc[i].option.toUpperCase().startsWith('PODEMOS')){
                colorsNew.push(PodemosPartido[podemosindice]);
            podemosindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PP')){
                colorsNew.push(PPPartido[ppindice]);
                ppindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PSOE')){
                colorsNew.push(PSOEPartido[psoeindice]);
                psoeindice++;
            }else{
                colors.push(rgb);
            }
        }

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        let graphType = 'pie';

        let graph = new Chart(context, {
            type: graphType,
            data: {
                labels: labels,
                datasets: [{
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });
        colors=colorsNew;
        }

        function tritranomalia(){

        var PodemosPartido = ["rgb(77,86,86)","rgb(95,106,106)","rgb(113,125,126)","rgb(131,145,146)","rgb(149,165,166)","rgb(98,101,103)", "rgb(121,125,127)"]

        var PPPartido = ["rgb(48,255,12)","rgb(12,64,3)","rgb(114,255,89)","rgb(57,128,45)","rgb(35,181,9)","rgb(25,130,7)", "rgb(92,207,72)"]

        var PSOEPartido = ["rgb(128,38,28)","rgb(99,30,22)","rgb(191,57,42)","rgb(204,61,45)","rgb(166,49,36)","rgb(255,76,56)","rgb(255,76,56)"]

        let labels = [];
        let datas = [];
        let colorsNew = [];
        let podemosindice = 0; 
        let ppindice = 0;
        let psoeindice = 0;
        for (let i = 0; i < postproc_length; i++) {
            let red = Math.floor(Math.random() * 256);
            let green = Math.floor(Math.random() * 256);
            let blue = Math.floor(Math.random() * 256);
            let rgb = "rgb(" + red + "," + green + "," + blue +")";
            labels.push(postproc[i].option);
            datas.push(postproc[i].votes);
            if(postproc[i].option.toUpperCase().startsWith('PODEMOS')){
                colorsNew.push(PodemosPartido[podemosindice]);
            podemosindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PP')){
                colorsNew.push(PPPartido[ppindice]);
                ppindice++;
            }else if(postproc[i].option.toUpperCase().startsWith('PSOE')){
                colorsNew.push(PSOEPartido[psoeindice]);
                psoeindice++;
            }else{
                colors.push(rgb);
            }
        }

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext('2d');

        let graphType = 'pie';

        let graph = new Chart(context, {
            type: graphType,
            data: {
                labels: labels,
                datasets: [{
                    backgroundColor: colors,
                    data: datas
                }]
            },
            options: {
                title: {
                    display: true,
                    text: question
                }
            }
        });
        colors=colorsNew;
        }

</script>

    <script>
        function printPDF(){
            $('#exportModal').modal('hide');
            let doc = new jsPDF('p','pt','a4','landscape');
            doc.addHTML(document.body,function() {
                doc.save('decide-dialga-visualizacion.pdf');
            });
        }

        var voting = {{voting|safe}};

        function getTotalVotes(){
           var res = 0
           for (var i = 0; i < voting.postproc.length; i++) {
              res += voting.postproc[i]["votes"]
           }
           return res;
        }

        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // fichero CSV
            csvFile = new Blob([csv], {type: "text/csv;charset=utf-8;"});

            // link de descarga y codificación
            downloadLink = document.createElement("a");
            var encodedUri = encodeURI(csvFile)
            downloadLink.setAttribute("href", encodedUri)

            // nombre del fichero
            downloadLink.download = filename;

            // Crear un link al archivo
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Ocultar link de descarga
            downloadLink.style.display = "none";

            // Añadir el link al DOM
            document.body.appendChild(downloadLink);

            // Click al link de descarga
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var tableHeaders = ["Votacion", "Comienzo", "Fin", "Votos"];
            var csv = new Array()

            var name = voting.name
            var start_date = new Date(voting.start_date);
            var end_date = new Date(voting.end_date);
            var total_votes = getTotalVotes();

            csv.push(tableHeaders[0]+":"+name)
            csv.push(tableHeaders[1]+":"+start_date.toLocaleDateString("es-ES"))
            csv.push(tableHeaders[2]+":"+end_date.toLocaleDateString("es-ES"))
            csv.push(tableHeaders[3]+":"+total_votes)

            for (let i=0; i< voting.postproc.length; i++) {
                csv.push("Opcion "  + voting.postproc[i].option + ": " + voting.postproc[i].votes)
            }
            
            // Descarga del fichero CSV
            downloadCSV(csv.join("\n"), filename);
        }

    </script>

   <!-- SCRIPTS PARA COMPARTIR EN REDES SOCIALES -->    
    <script>
      
      // URIs
      var FACEBOOK_ENDPOINT = 'https://www.facebook.com/sharer/sharer.php?u=';
      var LINKEDIN_ENDPOINT = 'https://www.linkedin.com/shareArticle?mini=true';
      var TWITTER_ENDPOINT  = 'https://twitter.com/intent/tweet?';
      var REDDIT_ENDPOINT   = 'https://www.reddit.com/submit?';
      var MAIL_ENDPOINT     = 'mailto:?';
      var SLACK_ENDPOINT    = '';
      var TELEGRAM_ENDPOINT = 'https://t.me/share/url?';
      var WHATSAPP_ENDPOINT = 'https://api.whatsapp.com/send?';
    
      // BOTONES
      var boton_facebook = document.querySelector("#facebook-share");
      var boton_linkedin = document.querySelector("#linkedin-share");
      var boton_twitter  = document.querySelector("#twitter-share");
      var boton_reddit   = document.querySelector("#reddit-share");
      var boton_email    = document.querySelector("#email-share");
      var boton_slack    = document.querySelector("#slack-share");
      var boton_telegram = document.querySelector("#telegram-share");
      var boton_whatsapp = document.querySelector("#whatsapp-share");

      // CLASES
      var in_mouse = "btn btn-outline-success";
      var out_mouse_1 = "btn-outline-success";
      var out_mouse_2 = "btn-link";

      // FACEBOOK
      boton_facebook.addEventListener('mouseover', ()=>{
         boton_facebook.className = in_mouse;
      });

      boton_facebook.addEventListener('mouseout', ()=>{
         boton_facebook.classList.remove(out_mouse_1);
         boton_facebook.classList.add(out_mouse_2);
      });

      boton_facebook.addEventListener('click', ()=>{
         window.open(FACEBOOK_ENDPOINT + window.location.href);
      });

      // LINKEDIN
      boton_linkedin.addEventListener('mouseover', ()=>{
         boton_linkedin.className = in_mouse;
      });

      boton_linkedin.addEventListener('mouseout', ()=>{
         boton_linkedin.classList.remove(out_mouse_1);
         boton_linkedin.classList.add(out_mouse_2);
      });//%s%s
      boton_linkedin.addEventListener('click', ()=>{
         window.open(LINKEDIN_ENDPOINT + '&title=' + 
         document.querySelector("h5.card-title").innerHTML + 
         '&url=' + window.location.href);
      });

      // TWITTER
      boton_twitter.addEventListener('mouseover', ()=>{
         boton_twitter.className = in_mouse;
      });

      boton_twitter.addEventListener('mouseout', ()=>{
         boton_twitter.classList.remove(out_mouse_1);
         boton_twitter.classList.add(out_mouse_2);
      });
      
      boton_twitter.addEventListener('click', ()=>{
         window.open(TWITTER_ENDPOINT + 'original_referer=' + 
         window.location.href + '&text=' + 
         document.querySelector("h5.card-title").innerHTML + '&tw_p=tweetbutton' 
         + '&url=' + window.location.href);
      });

      // REDDIT
      boton_reddit.addEventListener('mouseover', ()=>{
         boton_reddit.className = in_mouse;
      });

      boton_reddit.addEventListener('mouseout', ()=>{
         boton_reddit.classList.remove(out_mouse_1);
         boton_reddit.classList.add(out_mouse_2);
      });

      boton_reddit.addEventListener('click', ()=>{
         window.open(REDDIT_ENDPOINT + 'title=' + 
         document.querySelector("h5.card-title").innerHTML + 
         '&url=' + window.location.href);
      });

      // EMAIL
      boton_email.addEventListener('mouseover', ()=>{
         boton_email.className = in_mouse;
      });

      boton_email.addEventListener('mouseout', ()=>{
         boton_email.classList.remove(out_mouse_1);
         boton_email.classList.add(out_mouse_2);
      });

      boton_email.addEventListener('click', ()=>{
         window.open(MAIL_ENDPOINT + 'subject=' + 
         document.querySelector("h5.card-title").innerHTML + 
         '&body=' + window.location.href);
      });

      // SLACK
      boton_slack.addEventListener('mouseover', ()=>{
         boton_slack.className = in_mouse;
      });

      boton_slack.addEventListener('mouseout', ()=>{
         boton_slack.classList.remove(out_mouse_1);
         boton_slack.classList.add(out_mouse_2);
      });

      // TELEGRAM
      boton_telegram.addEventListener('mouseover', ()=>{
         boton_telegram.className = in_mouse;
      });

      boton_telegram.addEventListener('mouseout', ()=>{
         boton_telegram.classList.remove(out_mouse_1);
         boton_telegram.classList.add(out_mouse_2);
      });

      boton_telegram.addEventListener('click', ()=>{
         window.open(TELEGRAM_ENDPOINT + 'text=' + 
         document.querySelector("h5.card-title").innerHTML + 
         '&url=' + window.location.href);
      });

      // WHATSAPP
      boton_whatsapp.addEventListener('mouseover', ()=>{
         boton_whatsapp.className = in_mouse;
      });

      boton_whatsapp.addEventListener('mouseout', ()=>{
         boton_whatsapp.classList.remove(out_mouse_1);
         boton_whatsapp.classList.add(out_mouse_2);
      });

      boton_whatsapp.addEventListener('click', ()=>{
         window.open(WHATSAPP_ENDPOINT + 'text=' + 
         document.querySelector("h5.card-title").innerHTML + ' ' 
         + window.location.href )
      });

    </script>
{% endblock %}
